:root {
    --photo-border-radius: 15px;
    --transition: 1.5s ease-in-out;
    --photo-width: 250px;
}

body {
    background-color: #000000;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #4f6cff;
    text-align: center;
}

p {
    color: #ffffff;
    text-align: center;
}

/* ======================================= */
/* MANIFESTO PHOTO RULES                   */
/* ======================================= */

#foto-gatilho {
    margin-top: 25px;
    width: var(--photo-width);
    border-radius: var(--photo-border-radius);
    cursor: pointer;
    transition: transform 0.2s;
}

#foto-gatilho:active {
    transform: scale(0.96);
}

/* Configuração inicial da foto escondida */
#foto-escondida {
    margin-top: 25px;
    border-radius: var(--photo-border-radius);
    width: var(--photo-width);
    display: none;        /* Crucial para sumir com a foto inicialmente */
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition);
}

/* 1ª Etapa do JS: Faz a foto passar a existir no espaço da tela */
#foto-escondida.show {
    display: block;
}

/* 2ª Etapa do JS: Ativa o efeito de fade-in (opacidade) */
#foto-escondida.aparecer {
    opacity: 1;
    pointer-events: auto;
}